<a href="https://colab.research.google.com/github/tarunkumarnahak25/data-science/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 *,'hello',-87.8,- ,/ ,6

Ans: `Values:`  **'hello'** , **-87.8**, 6

  `Expression: ` * , - , / , +

2. What is the difference between string and variable?

Ans: 

`string: ` In python **Strings** are represented using '' or "" which acts as value. and can be stored in side a variable.
e.g. "abc" , "Name" "123abc"

`Variables: ` In Python **Variables** are the named location or tag through which we can access the values. Variable name should give context to the value which are being stored in it.

e.g. abc =  10 , name = 'myname' , age = 24,

In [3]:
# Examples of variables

name = 'my name' # String value being stored in the variable name 

Age = 24 # Integer value stored in variable age

3. Describe three different data types.

Ans: 

a. `Integer:` Integer datatypes which are all the positive and negative number along with zero is considered as **Integers** . It's one of the primary datatypes.

In [5]:
# Example of integers
num1 = 20

num2 = -20

num3 = 0

print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'int'>
<class 'int'>

b. `Float : ` In python  real number are considered as the floating point value i.e the  value in which we've the decimal point.

In [6]:
# Example of float

num1 = 12.34
num2 = -12.45

print(type(num1))
print(type(num2))

<class 'float'>
<class 'float'>

c. `String : ` In python the string datatypes are the datatypes which are enclosed in either '' or "".

In [7]:
# Example of string datatypes

name = "New name"
greeting  = ' happy new year'

print(type(name))
print(type(greeting))

<class 'str'>
<class 'str'>

4. What is an expression made up of? What do all expressions do?

Ans: 

Expression are made up of variables, operators , function and methods.

Example : 
a = 10

a + 10

In [8]:
# Examples of expression in python
a =  10 
a + 10

20

The expression is a combinations of operators and operands that is interpreted to produce some other value. and value can be used later if it's being stored in a variable.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: 

Every `Expression ` can't be a statement. but Every `Statement` can be an expression.

The evaluation of a statement does not changes state.But the execution of a statement changes the state.


Evaluation of an expression always produces or returns a result value. whereas in statement may or may not produces or displays a result value , it only does whatever the statement says.

In [10]:
# Examples of expression  and statement 
a = 10 # This is assignment statement it does not return any value

In [11]:
a +  10 # This is the expression which return the value after execution

20

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [12]:
# The output of the following code is
bacon = 22
bacon + 1 # result is 22 + 1 = 23

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [14]:
result1 =  'spam' + 'spamspam'
print(result1) # The result of the following first line of code which is concatination of string using +

spamspamspam

In [15]:
result2 = 'spam' * 3
print(result2) # Rresult of the 2nd line of code which is replication using *

spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

Ans: 

eggs is valid variable name because it follows the rules of the variable name i.e

1. Variable name should start with a letter i.e a-z or A-Z

2. Variable should not start with the digit.

3. Variable names should not have a special symbol like space or tab or other special character.

4. To separate the letter we can use _ (underscore) 

that's the reason why eggs are considered as a variable name while 100 whose first character is a digit which voilates the rules of variable that's why it's not considered as a variable name and it's a `value`.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: 

The three function that we can use to get the integer, floating point or the string version of a value are given below


1. int() - > using this function we can get the integer version of the value.

2. float() - > using this function we can get the floating version of the value

3. str() -> using this function we can get the string version of the value.

Let's see using the example below :

In [17]:
num1 =  12

print(int(num1)) # Get the integer version of the value
print(float(num1)) # Ge the floating version of the value
print(str(num1))  # Get the string version of the value


#  Checking the type of the variables
print(type(int(num1)))
print(type(float(num1)))
print(type(str(num1)))

12
12.0
12
<class 'int'>
<class 'float'>
<class 'str'>

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [18]:
# This gives an error because we cannot add the string value to the integer value or vice versa is not possible in python
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [19]:

# To fix this error in datatypes in value of code we can convert the 99 into string and we can perform the addtion

'I have eaten ' + '99' + ' burritos.'

# Now error has been fixed.

'I have eaten 99 burritos.'