# Tuples

* A tuple is similar to list

* The difference between the two is that we can't change the elements of tuples once it is assigned whereas in the list elements can be changed

## Tuple creation

In [4]:
#empty tuple
t = ()
# tuple having integers
t = (1,2,3)
print(t)
#tuple with mixed datatypes
t = (1,'raju',29,'abc')
print(t)
#nested tuple
t = (1,(1,2,3),[1,2,3,2])
print(t)

(1, 2, 3)
(1, 'raju', 29, 'abc')
(1, (1, 2, 3), [1, 2, 3, 2])

In [5]:
#only parenthesis is not enough
t = ('satish')
type(t)

str

In [7]:
#need a comma at the end to create a tuple
t = ('satish',)
type(t)

tuple

In [9]:
t = 'satish',
print(type(t))
print(t)

<class 'tuple'>
('satish',)

## Accessing Elements in Tuple

In [10]:
t = ('satish','murli','naveen','srinu','brahma')
print(t[1])

murli

In [12]:
#negative index
print(t[-1]) #print the last element of tuple

brahma

### Nested tuple

In [13]:
t = ('abc',('satish','naveen','srinu'))

In [14]:
print(t[1])

('satish', 'naveen', 'srinu')

In [15]:
print(t[1][2])

srinu

### Slicing the tuple

In [18]:
t = (1,2,3,4,5,6)

print(t[1:4])
print(t[:-2])
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

## Changing a tuple

* unlike lists, tuples are immutable

* This means that elements of a tuple cannot be changed once it has been assigned. But if the elements is itself a mutable datatypes like list its nested items can be changed

In [19]:
t = (1,2,3,4,5)
t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

## Tuple index

In [20]:
t = (1,2,3,4,5)
print(t.index(3))

2

## Tuple membership

In [21]:
 print(1 in t)

True

In [22]:
print(7 in t)

False

# Built in functions

## Tuple length

In [23]:
t = (1,2,3,4)
print(len(t))

4

# Tuple Sort

In [26]:
new_t = sorted(t)
print(new_t)

[1, 2, 3, 4]

In [27]:
t = (1,2,3,42)
print(max(t))

42

In [28]:
print(min(t))

1

In [29]:
print(sum(t))

48